<!-- wp:template-part {"slug":"main-header","theme":"fse-social-ngo","tagName":"header","className":"front-header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0">

  <!-- wp:pattern {"slug":"fse-social-ngo/main-banner"} /-->

  <!-- wp:pattern {"slug":"fse-social-ngo/volunteer-section"} /-->

  <!-- wp:pattern {"slug":"fse-social-ngo/counter-section"} /-->

  <!-- wp:pattern {"slug":"fse-social-ngo/testimonial"} /-->

  <!-- wp:pattern {"slug":"fse-social-ngo/projects-section"} /-->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"fse-social-ngo","tagName":"footer"} /-->