<!-- wp:template-part {"slug":"main-header","theme":"fse-nonprofit-ngo","tagName":"header","className":"front-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0">

  <!-- wp:pattern {"slug":"fse-nonprofit-ngo/main-banner"} /-->

  <!-- wp:pattern {"slug":"fse-nonprofit-ngo/service-section"} /-->

  <!-- wp:pattern {"slug":"fse-nonprofit-ngo/blog-section"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"fse-nonprofit-ngo","tagName":"footer","className":"footer-home"} /-->